/* Styles for create question page */
.form-container {
    max-width: 400px;  /* Adjust the max-width */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;  /* Ensure inputs and textarea take full width */
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    max-height: 150px;
}


h2 {
    text-align: center;  /* Center the title */
    margin-bottom: 20px;  /* Add space below the title */
}
