<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>
    <header>
        <h1>Quiz App</h1>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main> 
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Under Developpement :D</p>
    </footer>
</body>
</html>
