{% extends "base.html" %}

{% block title %}Create Question - Quiz App{% endblock %}

{% block content %}
<h2>Create a New Question</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<a href="{{ url_for('goIndex') }}" class="btn btn-primary">Go Back</a>
<div class="form-container">
    <form action="{{ url_for('create_question') }}" method="POST">
        <label for="question_text">Question:</label>
        <textarea id="question_text" name="question_text" required></textarea>
        
        <label for="answer_1">Answer 1:</label>
        <input type="text" id="answer_1" name="answer_1" required>
        
        <label for="answer_2">Answer 2:</label>
        <input type="text" id="answer_2" name="answer_2" required>
        
        <label for="answer_3">Answer 3 (optional):</label>
        <input type="text" id="answer_3" name="answer_3">
        
        <label for="answer_4">Answer 4 (optional):</label>
        <input type="text" id="answer_4" name="answer_4">
        
        <label for="answer_5">Answer 5 (optional):</label>
        <input type="text" id="answer_5" name="answer_5">
        
        <label for="correct_answer">Correct Answer (1-5):</label>
        <input type="number" id="correct_answer" name="correct_answer" min="1" max="5" required>
        
        <button type="submit">Create Question</button>
    </form>
</div>
{% endblock %}

