{% extends "base.html" %}

{% block title %}Edit Question - Quiz App{% endblock %}

{% block content %}
<h2>Edit Question</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

<div class="form-container">
    <form action="{{ url_for('edit_question', question_id=question.id) }}" method="POST">
        <label for="question_text">Question:</label>
        <textarea id="question_text" name="question_text" required>{{ question.question_text }}</textarea>
        
        <label for="answer_1">Answer 1:</label>
        <input type="text" id="answer_1" name="answer_1" value="{{ question.answer_1 }}" required>
        
        <label for="answer_2">Answer 2:</label>
        <input type="text" id="answer_2" name="answer_2" value="{{ question.answer_2 }}" required>
        
        <label for="answer_3">Answer 3 (optional):</label>
        <input type="text" id="answer_3" name="answer_3" value="{{ question.answer_3 }}">
        
        <label for="answer_4">Answer 4 (optional):</label>
        <input type="text" id="answer_4" name="answer_4" value="{{ question.answer_4 }}">
        
        <label for="answer_5">Answer 5 (optional):</label>
        <input type="text" id="answer_5" name="answer_5" value="{{ question.answer_5 }}">
        
        <label for="correct_answer">Correct Answer (1-5):</label>
        <input type="number" id="correct_answer" name="correct_answer" value="{{ question.correct_answer }}" min="1" max="5" required>
        
        <button type="submit" class="btn btn-primary">Update Question</button>
        <a href="{{ url_for('goIndex') }}" class="btn btn-primary">Go Back</a>

        <div class="form-group">
            <label for="label">Label (optional):</label>
            <input type="text" name="label" class="form-control" value="{{ question.label if question else '' }}">
        </div>
        
    </form>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.MathJax) {
            MathJax.typeset();
        }
    });
</script>
{% endblock %}
