{% extends "base.html" %}

{% block title %}Home - Quiz App{% endblock %}

{% block content %}
<h2>Welcome, {{ username }}!</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<form action="{{ url_for('create_question') }}" method="get" style="display: inline;">
    <button type="submit" class="btn btn-primary">Create Question</button>
</form>
<form action="{{ url_for('view_questions') }}" method="get" style="display: inline;">
    <button type="submit" class="btn btn-primary">View Your Questions</button>
</form>
{% endblock %}

