{% extends "base.html" %}

{% block title %}Your Questions - Quiz App{% endblock %}

{% block content %}
<h2>Your Questions</h2>
<a href="{{ url_for('goIndex') }}" class="btn btn-primary">Go Back</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% if questions %}
    <table>
        <thead>
            <tr>
                <th>User Question ID</th>
                <th>Question</th>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
                <th>Answer 4</th>
                <th>Answer 5</th>
                <th>Correct Answer</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.user_question_id }}</td>
                <td>{{ question.question_text|safe }}</td>
                <td>{{ question.answer_1 }}</td>
                <td>{{ question.answer_2 }}</td>
                <td>{{ question.answer_3 or 'N/A' }}</td>
                <td>{{ question.answer_4 or 'N/A' }}</td>
                <td>{{ question.answer_5 or 'N/A' }}</td>
                <td>{{ question.correct_answer }}</td>
                <td>{{ question.label or 'No Label' }}</td> 
                <td>
                    <form action="{{ url_for('edit_question', question_id=question.id) }}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                    <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this question?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no questions available.</p>
{% endif %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.MathJax) {
            MathJax.typeset();
        }
    });
</script>
{% endblock %}



